@import url('https://fonts.goggleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    background: #202946;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.toggle{
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #000 url(Imágenes/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.toggle.active{
    background: #000 url(Imágenes/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    right: 21.5%;
    transition: 0.5s;
}
.banner{
    background: #000;
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.banner ,.sidebar{
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 1200px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.sidebar{
    position: fixed;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -50%;
}
.sidebar.active{
    background: #000;
    right: 0;
}
.sidebar ul{
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sidebar ul li{
    list-style: none;
    background: #000;
}
.sidebar ul li .open{
    color: #fff;
    background: #000;
    text-decoration: none;
    font-size: 1.3em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sidebar ul li a i{
    background: #000;
}
.sidebar ul li .open:hover{
    color: #00bcd4;
    background: #000;
}
.sidebar ul li .closed{
    color: #fff;
    background: #000;
    text-decoration: none;
    font-size: 1.3em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sidebar ul li .closed:hover{
    color: #d40000;
    background: #000;
}
.welcome{
    position: fixed;
    top: 4%;
    left: 3%;
}
.wcontainer{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}
.wbody{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.wbody-show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.wimg{
    width: 1240px;
    height: 700px;
    object-fit: cover;
    object-position: 50% 30%;
}
.wflechas{
    width: 90%;
    cursor: pointer;
}
footer{
    width: 100%;
    margin-top: 100px;
    height: 8vh;
    background: #141414;
    display: grid;
    place-items: center;
    color: #adabab;
    font-size: 12px;
}
.footer-content span{
    color: #eeff00;
}
