
*{
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    background-size: cover;
}
h1,h2,h3,h4,h5{
    font-family: 'Fjalla One', sans-serif;
}
.portada{
    height: 762px;
    background-image: url(Recursos/Header.png);
    color: white;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.infoInventory{
    height: 762px;
    color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    background-color: white;
}
.infoInventory div{
    width: 25%;
}
.infoULEAM{
    height: 762px;
    color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    background-color: white;
}
.infoULEAM div{
    width: 39%;
}
.login{
    height: 762px;
    color: white;
    background-size: cover;
    background-position: center;
    background-color: #202946;
}

.login form{
    width: 30%;
    padding: 20px 30px;
    background: #f8f8f8;
    position: absolute;
    border-radius: 20px;
    
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
     0 10px 10px rgba(0, 0, 0, 0.22);
}
.login form p{
    
    margin-bottom: 20px;
    font-size: 15px;
    color: #000000;
}
.login form p a{
    color: #46A2FD;
}

.login form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

.login form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.login form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    color: white;
    outline: none;
}
span{
    display: block;
    margin-left: 20px;
    color: red;
    font-style: italic;
    text-align: center;
}
.ubicacion{
    height: 690px;
    color: white;
    background-color: #202946;
    
}
.ubicacion .responsive-iframe{
    
    position: relative;
    padding-top: 40%;
}
.ubicacion .responsive-iframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;
}
li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    margin: 25px 10px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
li a:hover{
    color: #00bcd4;
}
footer{
    width: 100%;
    margin-top: 100px;
    height: 8vh;
    background: #141414;
    display: grid;
    place-items: center;
    color: #adabab;
    font-size: 12px;
}
.footer-content span{
    color: #eeff00;
}