body{
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
}
h1,h2,h3,h4,h5{
    font-family: 'Fjalla One', sans-serif;
}
.portada{
    height: 762px;
    background-image: url(Recursos/Fondo_Registro.png);
    color: white;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.infoRegister{
    height: 762px;
    color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    background-color: white;
}
.infoRegister div{
    width: 39%;
}
.register{
    height: 762px;
    color: white;
    background-size: cover;
    background-position: center;
    background-color: #202946;
}
.register form{
    width: 30%;
    padding: 20px 30px;
    background: #f8f8f8;
    position: absolute;
    border-radius: 20px;
    
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
     0 10px 10px rgba(0, 0, 0, 0.22);
}
.register form p{
    
    margin-bottom: 20px;
    font-size: 15px;
    color: #000000;
}
.register form p a{
    color: #b6a80e;
}

.register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #b6a80e;
}
.register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}
.register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #b6a80e;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    color: white;
    outline: none;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;
}
li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    margin: 0px 10px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
li a:hover{
    color: #00bcd4;
}
footer{
    width: 100%;
    margin-top: 100px;
    height: 8vh;
    background: #141414;
    display: grid;
    place-items: center;
    color: #adabab;
    font-size: 12px;
}
.footer-content span{
    color: #eeff00;
}
